/.vscode
datasets/*
external/*
artifacts/*
logs/*

simplicity/**/*.mk

/__pycache__
*__pycache__*
*.pyc
*.o
*.d
*.ld
*.slsproj
*.prefs
*.hwconf
*.properties
*.cproject
*.project
*.axf
*.bin
*.hex
*.map
*.s37

