/.vscode
/.claude
datasets/*
external/*
artifacts/*
logs/*
outputs/*

simplicity/**/*.mk

/__pycache__
*__pycache__*
*.pyc
*.o
*.d
*.ld
*.slsproj
*.prefs
*.hwconf
*.properties
*.cproject
*.project
*.axf
*.bin
*.hex
*.map
*.s37

*.whl
*.dot
*.har
*.html
*.svg
*.hef
*.onnx
*.pt
*.csv
*.log
*.npz